@import 'loading_spinner';
////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}


////////////////////////////////
		//My styles//
////////////////////////////////

#add-paprika-account-form {
    th {
        vertical-align: top;
    }
}
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}
.recipe-list {
    th a {
        display: block;
    }
    @media (max-width: 767px) {
        td:nth-child(2), th:nth-child(2) {
            /* hide Created date column on narrow viewports */
            display: none;
        }
    }
}
.recipe-diff {
    .different {
        color: red;
        border: red 1px solid;
    }

    a.btn {
        white-space: normal;
    }

    @media (max-width: 767px) {
        img {
            width: 140px;
        }
    }
}
.stick-header.table-responsive {
    overflow-x: unset;

    thead th {
        position: sticky;
        top: -1px;
        background-color: white;
        box-shadow: inset 0px -1px 0 #dee2e6;
    }
}
form.request-sync {
    p {
        text-align: right;
    }
}
section {
    margin: 3rem 0;

    h1 {
        margin-bottom: 1rem;
    }
}
img.cloud-sync-signup {
    width: 100%;
    margin-bottom: 1rem;
}
/* look at https://getbootstrap.com/docs/4.1/layout/media-object/ */
.newsitem.card {
    margin: 10px 0px;
    flex-direction: row;

    .card-subtitle {
        font-size: 85%;
        float: right;
        margin-left: 4px;
    }
    .card-img {
        width: 120px;

        @media (max-width: 767px) {
            display: none;
        }
    }
}
.pagination {
    margin-bottom: 2rem;
}
.after-button-notice {
    margin-top: 1rem;
}
section.search {
    // Hide placeholder text when tags are added:
    // https://github.com/yairEO/tagify/issues/495#issuecomment-620498047
    .tagify {
        .tagify__tag + .tagify__input::before{
            display:none
        }
    }
    input.recipe-search {
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 18px;
        border: 1px solid #dee2e6;
        padding: .375rem .75rem;
        max-width: 500px;

        &::placeholder {
            color: rgba(0, 0, 0, 0.4);
        }
    }
    tags {
        max-width: 500px;
    }
    .input-group {
        margin: 4px 0;
        width: auto;
    }
    .input-group .form-control {
        // override bootstrap forcing inputs to be single-line height
        height: auto;
    }
    .input-group-append {
        .oi {
            display: block;
            border: 1px solid #dee2e6;
            border-radius: 0 5rem 5rem 0 !important;
            top: 0px;
            padding: .375rem .75rem .375rem .5rem;
            margin: 0px;
            line-height: inherit;

            &.oi-magnifying-glass {
                background-color: transparent;
            }
        }
    }
    label {
        align-self: center;
        margin-bottom: 0;
    }
}
section.search-results {
    position: relative;
    min-height: 200px;
    .loading-spinner {
        position: absolute;
        margin-top: -40px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffffaa;
    }
}