////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}


////////////////////////////////
		//My styles//
////////////////////////////////

#add-paprika-account-form {
    th {
        vertical-align: top;
    }
}
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}
.recipe-list {
    th a {
        display: block;
    }
    @media (max-width: 767px) {
        td:nth-child(2), th:nth-child(2) {
            /* hide Created date column on narrow viewports */
            display: none;
        }
    }
}
.recipe-diff {
    .different {
        color: red;
        border: red 1px solid;
    }

    a.btn {
        white-space: normal;
    }

    @media (max-width: 767px) {
        img {
            width: 140px;
        }
    }
}
.stick-header.table-responsive {
    overflow-x: unset;

    thead th {
        position: sticky;
        top: -1px;
        background-color: white;
        box-shadow: inset 0px -1px 0 #dee2e6;
    }
}
form.request-sync {
    p {
        text-align: right;
    }
}
section {
    margin: 3rem 0;

    h1 {
        margin-bottom: 1rem;
    }
}
img.cloud-sync-signup {
    width: 100%;
    margin-bottom: 1rem;
}
.newsitem.card {
    margin: 10px 0px;
    flex-direction: row;

    .card-subtitle {
        font-size: 85%;
        float: right;
        margin-left: 4px;
    }
    .card-img {
        width: 120px;

        @media (max-width: 767px) {
            display: none;
        }
    }
}
.pagination {
    margin-bottom: 2rem;
}
.after-button-notice {
    margin-top: 1em;
}
