{% load humanize paprika %}

<div class="newsitem card">
    <div class="card-body">
        <h6 class="card-subtitle text-muted" title="{{ newsitem.created_date }}">{{ newsitem.created_date|date:"D, M j" }}</h6>

        {% if newsitem.type == newsitem.TYPE_NEW_ACCOUNT %}

            <p class="card-text">{{ newsitem.paprika_account.alias }} created a new account!</p>

            {% if my_account %}
                <a href="{% url 'core:recipes-diff' other_alias=newsitem.paprika_account.alias %}" class="btn btn-primary">Compare recipes</a>
            {% endif %}

        {% elif newsitem.type == newsitem.TYPE_RECIPE_ADDED %}

            <p class="card-text">{{ newsitem.paprika_account.alias }} added a recipe: <a href="{% url 'core:recipe' newsitem.recipe.id %}">{{ newsitem.recipe.name }}</a></p>

            {% has_similar_recipe my_account newsitem.recipe as my_recipe %}
            {% if my_account and not my_recipe %}
                <a href="" class="btn btn-primary disabled">Add recipe to your account (not implemented yet)</a>
            {% endif %}

        {% elif newsitem.type == newsitem.TYPE_RECIPE_EDITED %}

            {% has_similar_recipe my_account newsitem.recipe as my_recipe %}
            {% if newsitem.rating_changed %}
                <p class="card-text">{{ newsitem.paprika_account.alias }} rated <a href="{% url 'core:recipe' newsitem.recipe.id %}">{{ newsitem.recipe.name }}</a> {{ newsitem.recipe.rating }} stars</p>

                {% if my_account and not my_recipe %}
                    <a class="btn btn-primary disabled" href="">Add recipe to your account (not implemented yet)</a>
                {% endif %}
            {% else %}
                <p class="card-text">{{ newsitem.paprika_account.alias }} edited <a href="{% url 'core:recipe' newsitem.recipe.id %}">{{ newsitem.recipe.name }}</a>: changed {{ newsitem.payload.fields_changed|join:', ' }}</p>

                <a class="btn btn-primary" href="{% url 'core:recipe-diff' newsitem.previous_recipe.id newsitem.recipe.id %}">View edits</a>
                {% if my_account %}
                    {% if my_recipe %}
                        <a class="btn btn-primary disabled" href="">Update your recipe with these edits (not implemented yet)</a>
                    {% else %}
                        <a class="btn btn-primary disabled" href="">Add recipe to your account (not implemented yet)</a>
                    {% endif %}
                {% endif %}
            {% endif %}

        {% elif newsitem.type == newsitem.TYPE_RECIPE_DELETED %}

            <p class="card-text">{{ newsitem.paprika_account.alias }} deleted a recipe: <a href="{% url 'core:recipe' newsitem.recipe.id %}">{{ newsitem.recipe.name }}</a></p>

        {% endif %}
    </div>
</div>
