<h1>Changelog</h1>
<ul>
    <li id="2019-07-21">2019-07-21
        <ul>
            <li>Open-sourced and launched paprika-sync.com</li>
            <li>Account signup, email validation, forgot password, etc.</li>
            <li>Paprika account import and sync for recipes and recipe categories</li>
            <li>Page to list your recipes</li>
            <li>Page to compare recipes between two accounts</li>
            <li>Page to show a recipe</li>
            <li>Page to compare a recipe between two accounts</li>
        </ul>
    </li>
</ul>
