<h1>Changelog</h1>
<ul>
    <li id="2019-08-18">2019-08-18
        <ul>
            <li>Improved News Feed items with actual descriptions, basic actions, and thumbnails (on wide screen)</li>
            <li>Added sticky table header on recipe lists</li>
            <li>Rating a recipe will now get its own News Feed item</li>
            <li>Improved loading performance of News Feed</li>
            <li>Emails now send from mg.paprika-sync.com, so I'll receive email replies</li>
            <li>Added "last updated" row to recipe comparison view</li>
            <li>Improved pagination style and made minor mobile layout tweaks</li>
        </ul>
    </li>
    <li id="2019-07-28">2019-07-22
        <ul>
            <li>Different categories will not flag a diff in the compare-accounts view</li>
            <li>Copied thumbnail photos should no longer show as a diff</li>
            <li>Deleted recipes are hidden</li>
        </ul>
    </li>
    <li id="2019-07-22">2019-07-22
        <ul>
            <li>Fixed issue importing recipes with null values (for description, time, difficulty, etc.)</li>
        </ul>
    </li>
    <li id="2019-07-21">2019-07-21
        <ul>
            <li>Open-sourced and launched paprika-sync.com</li>
            <li>Account signup, email validation, forgot password, etc.</li>
            <li>Paprika account import and sync for recipes and recipe categories</li>
            <li>Page to list your recipes</li>
            <li>Page to compare recipes between two accounts</li>
            <li>Page to show a recipe</li>
            <li>Page to compare a recipe between two accounts</li>
        </ul>
    </li>
</ul>
