<h1>Changelog</h1>
<ul>
    <li id="2021-08-15">2021-08-15
        <ul>
            <li>Launched new search page
                <ul>
                    <li>Separate fields for searching by recipe title, ingredients, source, and account.</li>
                    <li>Source and account fields include dropdowns and autocomplete (but you aren't required to select an option from the dropdown).</li>
                    <li>Search results are unified (no longer shown in separate title/ingredient/source sections).</li>
                    <li>Each word of title/ingredient searches is now separately matched (e.g. searching "carrot squash" will return recipes titled "carrot and squash").</li>
                    <li>Included a link to the old search page at the top of the new search page. Let me know if/why you prefer the old search experience to the new one.</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="2021-01-19">2021-01-19
        <ul>
            <li>Bugfix - Fix photo display.</li>
        </ul>
    </li>
    <li id="2020-10-04">2020-10-04
        <ul>
            <li>Deleted recipes now appear in search results.</li>
            <li>Bugfix - Fixed cloning recipes failing due to Paprika recipe images now requiring signature to access.</li>
            <li>Known Issue - Recipe images do not load.</li>
        </ul>
    </li>
    <li id="2020-09-12">2019-09-12
        <ul>
            <li>Clone Recipe - You can now clone others' recipes from the news feed or from a recipe's detail page</li>
            <li>Site-wide Recipe Search - You can search recipes by name, ingredients, or source and results load as you type</li>
            <li>"Compare Recipes" page is now "Find Recipes" and contains new search functionality, along with browsing others' recipe lists</li>
        </ul>
    </li>
    <li id="2019-09-02">2019-09-02
        <ul>
            <li>Fix issue where News Feed items weren't associated with a recipe (so they didn't appear in the News Feed)</li>
            <li>Added page titles</li>
        </ul>
    </li>
    <li id="2019-08-18">2019-08-18
        <ul>
            <li>Improved News Feed items with actual descriptions, basic actions, and thumbnails (on wide screen)</li>
            <li>Added sticky table header on recipe lists</li>
            <li>Rating a recipe will now get its own News Feed item</li>
            <li>Improved loading performance of News Feed</li>
            <li>Emails now send from mg.paprika-sync.com, so I'll receive email replies</li>
            <li>Added "last updated" row to recipe comparison view</li>
            <li>Improved pagination style and made minor mobile layout tweaks</li>
            <li>Made thumbnails load over https</li>
            <li>Increased cookie age, to minimize having to re-login</li>
        </ul>
    </li>
    <li id="2019-07-28">2019-07-22
        <ul>
            <li>Different categories will not flag a diff in the compare-accounts view</li>
            <li>Copied thumbnail photos should no longer show as a diff</li>
            <li>Deleted recipes are hidden</li>
        </ul>
    </li>
    <li id="2019-07-22">2019-07-22
        <ul>
            <li>Fixed issue importing recipes with null values (for description, time, difficulty, etc.)</li>
        </ul>
    </li>
    <li id="2019-07-21">2019-07-21
        <ul>
            <li>Open-sourced and launched paprika-sync.com</li>
            <li>Account signup, email validation, forgot password, etc.</li>
            <li>Paprika account import and sync for recipes and recipe categories</li>
            <li>Page to list your recipes</li>
            <li>Page to compare recipes between two accounts</li>
            <li>Page to show a recipe</li>
            <li>Page to compare a recipe between two accounts</li>
        </ul>
    </li>
</ul>
