{% extends "base.html" %}
{% load humanize %}

{% block content %}


<article>
    <h1>About Paprika Sync</h1>
    <p><a href="https://github.com/grschafer/paprika-sync">Paprika Sync</a> is a side-project by <a href="https://grschafer.com">Greg Schafer</a> to make it easy to share recipes and recipe changes across multiple Paprika app accounts.</p>
    <p>The paprika-sync.com site is not public, because the Paprika app's Cloud Sync API uses HTTP Basic Auth (meaning the user's email and password must be sent in plaintext), and I don't want the liability of storing that data for strangers.</p>
    <p>But, feel free to <a href="https://github.com/grschafer/paprika-sync">host your own instance of Paprika Sync</a> and share it with your family and friends that use the Paprika app. Then, you can all see when Alice adds the recipe for her famous chili, Bob rates a new lasagna recipe as 5 stars, or Jackie adds the perfect high-altitude adjustment notes for their souffle recipe.</p>
    <p>Thanks to mattdsteele for <a href="https://gist.github.com/mattdsteele/7386ec363badfdeaad05a418b9a1f30a">documenting the Paprika app's Cloud Sync API</a>.</p>

    {% include 'core/_changelog.html' %}
</article>


{% endblock %}
