{% extends "base.html" %}
{% load humanize %}

{% block content %}

<h1>News</h1>

{% for newsitem in newsitem_list %}

<div class="newsitem card">
    <div class="card-body">
        <h6 class="card-subtitle text-muted" title="{{ newsitem.created_date }}">{{ newsitem.created_date|naturaltime }}</h6>
        <p class="card-text">{{ newsitem.paprika_account.alias }} {{ newsitem.type }}</p>
        {% if not newsitem.paprika_account in request.user.paprika_accounts.all %}
            {% if newsitem.type == newsitem.TYPE_RECIPE_ADDED %}
                <p><a href="#not-implemented-yet">Add recipe to your account (not implemented yet)</a></p>
            {% elif newsitem.type == newsitem.TYPE_RECIPE_EDITED %}
                <p><a href="#not-implemented-yet">Add recipe to your account (not implemented yet)</a></p>
                <p><a href="#not-implemented-yet">View edits (not implemented yet)</a></p>
                {% comment %}
                Hide this option because if we show the edit of "Bob rated recipe X 5 stars" and you update to match (via clone) and there are other previous changes that you didn't copy over, you might be surprised when other things change (unrelated to the specific change mentioned in the NewsItem description.
                Alternative is to have finer-grained "recipe edited" types, for each field and it only copies that.
                <a href="#not-implemented-yet">Update your recipe with these edits (not implemented yet)</a>
                {% endcomment %}
            {% elif newsitem.type == newsitem.TYPE_RECIPE_DELETED %}
                {# <a href="#not-implemented-yet">Delete recipe from your account (not implemented yet)</a> #}
            {% endif %}
        {% endif %}
    </div>
</div>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
