{% extends "base.html" %}
{% load humanize %}

{% block content %}


<section class="table-responsive account-list">
    <h1>Paprika Accounts</h1>
    <table class="table table-sm">
        <tbody>
            {% for account in paprikaaccount_list %}
            <tr>
                <th scope="row">{{ account.alias }}</th>
                {% if account in request.user.paprika_accounts.all %}
                    <td><a href="{% url 'core:recipes' %}">View your recipes</a></td>
                {% else %}
                    <td><a href="{% url 'core:recipes-diff' other_alias=account.alias %}">Compare recipes</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


{% include 'core/_pagination.html' %}

{% endblock %}
