{% extends "base.html" %}
{% load humanize static paprika %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}

<h1>{{ recipe.name }}</h1>
{% if recipe.paprika_account.user == request.user %}
<p><small>Recipe belongs to: <a href="{% url 'core:recipes' %}">{{ recipe.paprika_account.alias }}</a></small></p>
{% else %}
<p><small>Recipe belongs to: <a href="{% url 'core:recipes-diff' other_alias=recipe.paprika_account.alias %}">{{ recipe.paprika_account.alias }}</a></small></p>
{% endif %}

{% if recipe.photo_url %}
<img src="{{ recipe.photo_url }}">
{% else %}
<img src="{% static 'images/missing-thumb.svg' %}">
{% endif %}


<section class="table-responsive-sm recipe-detail">
    <table class="table table-sm">
        <tbody>
            <tr>
                <th scope="row">Favorited</th>
                <td>{{ recipe.on_favorites|yesno }}</td>
            </tr>
            <tr>
                <th scope="row">Rating</th>
                <td>{{ recipe.rating }}</td>
            </tr>
            <tr>
                <th scope="row">Servings</th>
                <td>{{ recipe.servings|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Difficulty</th>
                <td>{{ recipe.difficulty }}</td>
            </tr>
            <tr>
                <th scope="row">Prep time</th>
                <td>{{ recipe.prep_time }}</td>
            </tr>
            <tr>
                <th scope="row">Cook time</th>
                <td>{{ recipe.cook_time }}</td>
            </tr>
            <tr>
                <th scope="row">Total time</th>
                <td>{{ recipe.total_time }}</td>
            </tr>
            <tr>
                <th scope="row">Source</th>
                <td>{{ recipe.source|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Source URL</th>
                <td><a href="{{ recipe.source_url }}">{{ recipe.source_url|linebreaks }}</a></td>
            </tr>
            <tr>
                <th scope="row">Categories</th>
                <td>
                    {% for category in recipe.categories.all %}
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        Uncategorized
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ recipe.description|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Ingredients</th>
                <td>{{ recipe.ingredients|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Directions</th>
                <td>{{ recipe.directions|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Notes</th>
                <td>{{ recipe.notes|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Nutrition</th>
                <td>{{ recipe.nutritional_info|linebreaks }}</td>
            </tr>
        </tbody>
    </table>

    {% with my_account=request.user.paprika_accounts.get %}
        {% if my_account and my_account != recipe.paprika_account %}
            <form action="{% url 'core:recipe-clone' pk=recipe.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Clone recipe to your account</button>
            </form>
            {% has_similar_recipe my_account recipe as my_recipe %}
            {% if my_account and my_recipe %}
                <p class="after-button-notice">You have <a href="{% url 'core:recipe' pk=my_recipe.pk %}">{{ my_recipe.name }} in your account</a> already (<a href="{% url 'core:recipe-diff' pk=my_recipe.pk other_pk=recipe.pk %}">Compare recipes</a>)</p>
            {% endif %}
        {% endif %}
    {% endwith %}
</section>

{% endblock %}
