{% extends "base.html" %}
{% load humanize %}

{% block content %}

<h1>Your Recipes</h1>


<section class="table-responsive recipe-list">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipe_list %}
            <tr>
                <th scope="row"><a href="{% url 'core:recipe' recipe.pk %}">{{ recipe.name }}</a></th>
                <td>{{ recipe.created|date }}</td>
                <td>{{ recipe.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
