{% extends "base.html" %}
{% load humanize static paprika %}

{% block title %}Compare {{ other.name }} with {{ other.paprika_account.alias }}{% endblock %}

{% block content %}


<section class="table-responsive-sm recipe-diff">

    <h1>{{ recipe.name }}</h1>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="row">Owner</th>
                <th scope="col">{{ recipe.paprika_account.alias }}</th>
                <th scope="col">{{ other.paprika_account.alias }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Updated</th>
                <td title="{{ recipe.modified_date }}">{{ recipe.modified_date|date:"D, M j" }}</td>
                <td title="{{ other.modified_date }}">{{ other.modified_date|date:"D, M j" }}</td>
            </tr>
            <tr>
                <th scope="row">Thumbnail</th>
                <td>
                {% if recipe.photo_url %}
                    <img src="{{ recipe.photo_url }}">
                {% else %}
                    <img src="{% static 'images/missing-thumb.svg' %}">
                {% endif %}
                </td>
                <td class="{% diff recipe other 'photo_hash' %}">
                {% if other.photo_url %}
                    <img src="{{ other.photo_url }}">
                {% else %}
                    <img src="{% static 'images/missing-thumb.svg' %}">
                {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Favorited</th>
                <td>{{ recipe.on_favorites|yesno }}</td>
                <td class="{% diff recipe other 'on_favorites' %}">{{ other.on_favorites|yesno }}</td>
            </tr>
            <tr>
                <th scope="row">Rating</th>
                <td>{{ recipe.rating }}</td>
                <td class="{% diff recipe other 'rating' %}">{{ other.rating }}</td>
            </tr>
            <tr>
                <th scope="row">Servings</th>
                <td>{{ recipe.servings|linebreaks }}</td>
                <td class="{% diff recipe other 'servings' %}">{{ other.servings|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Difficulty</th>
                <td>{{ recipe.difficulty }}</td>
                <td class="{% diff recipe other 'difficulty' %}">{{ other.difficulty }}</td>
            </tr>
            <tr>
                <th scope="row">Prep time</th>
                <td>{{ recipe.prep_time }}</td>
                <td class="{% diff recipe other 'prep_time' %}">{{ other.prep_time }}</td>
            </tr>
            <tr>
                <th scope="row">Cook time</th>
                <td>{{ recipe.cook_time }}</td>
                <td class="{% diff recipe other 'cook_time' %}">{{ other.cook_time }}</td>
            </tr>
            <tr>
                <th scope="row">Total time</th>
                <td>{{ recipe.total_time }}</td>
                <td class="{% diff recipe other 'total_time' %}">{{ other.total_time }}</td>
            </tr>
            <tr>
                <th scope="row">Source</th>
                <td>{{ recipe.source|linebreaks }}</td>
                <td class="{% diff recipe other 'source' %}">{{ other.source|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Source URL</th>
                <td><a href="{{ recipe.source_url }}">{{ recipe.source_url|linebreaks }}</a></td>
                <td class="{% diff recipe other 'source_url' %}"><a href="{{ other.source_url }}">{{ other.source_url|linebreaks }}</a></td>
            </tr>
            <tr>
                <th scope="row">Categories</th>
                <td>
                    {% for category in recipe.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        Uncategorized
                    {% endfor %}
                </td>
                <td class="{% diff recipe other 'categories' sub_field='name' %}">
                    {% for category in other.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        Uncategorized
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ recipe.description|linebreaks }}</td>
                <td class="{% diff recipe other 'description' %}">{{ other.description|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Ingredients</th>
                <td>{{ recipe.ingredients|linebreaks }}</td>
                <td class="{% diff recipe other 'ingredients' %}">{{ other.ingredients|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Directions</th>
                <td>{{ recipe.directions|linebreaks }}</td>
                <td class="{% diff recipe other 'directions' %}">{{ other.directions|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Notes</th>
                <td>{{ recipe.notes|linebreaks }}</td>
                <td class="{% diff recipe other 'notes' %}">{{ other.notes|linebreaks }}</td>
            </tr>
            <tr>
                <th scope="row">Nutrition</th>
                <td>{{ recipe.nutritional_info|linebreaks }}</td>
                <td class="{% diff recipe other 'nutritional_info' %}">{{ other.nutritional_info|linebreaks }}</td>
            </tr>
        </tbody>
    </table>

    <a href="" class="btn btn-primary disabled">Overwrite your version of this recipe with {{ other.paprika_account.alias }}'s version (not implemented yet)</a>
</section>


{% endblock %}
