{% extends "base.html" %}
{% load humanize %}

{% block content %}

<form method="post" class="request-sync" action="{% url 'core:request-account-sync' %}">
    {% csrf_token %}
    <p><button type="submit" class="btn btn-primary" title="request sync of recipes">Force sync of your recipes</button></p>
</form>

<section class="table-responsive recipe-list stick-header">
    <h1>Your Recipes</h1>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipe_list %}
            <tr>
                <th scope="row"><a href="{% url 'core:recipe' recipe.pk %}">{{ recipe.name }}</a></th>
                <td>{{ recipe.created|date }}</td>
                <td>{{ recipe.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


{% include 'core/_pagination.html' %}

{% endblock %}
